  <!-- FOOTER -->
  <footer id="main-footer" class="py-5 bg-primary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 ml-auto text-right">
            <div>
                <a href="mailto:info@code.sydney?Subject=Enquiry" target="_top" class="no-deco">info@code.sydney</a>
            </div>
            <a href="https://www.meetup.com/Sydney-Volunteer-Programmers/" target="_blank" class="font-icon meetup-hover soc-media"><i class="fab fa-meetup"></i></a>
            <a href="https://join.slack.com/t/codesydney/shared_invite/enQtMzA4ODcyOTUyMDY0LTFlZDAyZjgwZmIzY2VmMzA0MjllOWI3YmE1NGZiNzQ5NGNmNjlhMGE5MTE1ZDA2NTU2OGRkZWQyYTQ3NDZmZGM" target="_blank" class="font-icon slack-hover soc-media"><i class="fab fa-slack"></i></a>
            <a href="https://www.linkedin.com/company/code.sydney/" target="_blank" class="font-icon linkedin-hover soc-media"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/code.sydney/" target="_blank" class="font-icon instagram-hover soc-media"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/codesyd/" target="_blank" class="font-icon facebook-hover soc-media"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/code_sydney" target="_blank" class="font-icon twitter-hover soc-media"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/codesydney" target="_blank" class="font-icon github-hover soc-media"><i class="fab fa-github"></i></a>
            <a href="https://www.youtube.com/channel/UCnOp_l8-EX3c-q2Tlj-2Iyw" target="_blank" class="font-icon youtube-hover soc-media"><i class="fab fa-youtube"></i></a>
            <a href="http://www.freecodecampsydney.org/" target="_blank" class="font-icon freecodecamp-hover soc-media"><i class="fab fa-free-code-camp"></i></a>
          <p>
            Code.Sydney Pty Ltd &copy {{ year }} ABN 37 625 436 151
          </p>

          <p style="font-size: 10px">
              <a style="color:white;" href="{{ url_for('static', filename='pdf/Code.Sydney_Client_Terms.pdf') }}" target="_blank">Terms | </a>
              <a style="color:white;" href="{{ url_for('static', filename='pdf/Code.Sydney_Website_Privacy_Policy.pdf') }}" target="_blank">Privacy Policy</a>
          </p>

        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER ENDS -->