{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section>
    <div class="col-lg-12 text-center mt-15">
        <h1 class="display-4 mt-5 pt-3 top-spacing" style="font-family:Montserrat;">
          Dux Servit Award
        </h1>
        <h2 style="font-family:Montserrat;">
          A Leader Serves
        </h2>
    </div>
  </section>


  <br />
  <div class="text-center">
    <a href="https://au.badgr.com/public/badges/b0fLICcBQxG4WWT7NOtmgw" target="_blank">
      <img
        src="{{ url_for('static', filename='img/duxservit.svg') }}"
        width="300px"
        class="mb-2 img-fluid"
      />
    </a>
  </div>

<section>
  <div class="text-center">
      <h5 style="font-family:Montserrat;">
        <br/>
        Dux Servit award is given to those who have solved a problem worth solving. The badge applies only to successful delivery of projects to non-profit organisations or community groups.          
      </h5>
  </div>
</section>

  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/kevin.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Kevin Foong</h4>
              <a href="http://www.propertyextractor.com.au/" target="_blank">
                <h6 class="text-muted">Property Extractor App</h6>
              </a>
              <p class="team-text">Kevin singlehandedly created the property extractor app which helped two Sydney-based charity organisations by providing their back office staff a tool to easily extract potential rental properties as temporary accommodation for those who are on the brink of experiencing homelessness.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/kevin-foong-044794/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/smart-forms.min.js"></script>
  <!-- Contact Ends -->

{% endblock content %}