{% extends 'layout.html' %}

{% block content %}
  <!-- SHOWCASE -->
  <section id="showcase">
    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mt-5">
        
            <h1 class="display-3 mt-5 pt-5 top-spacing" style="font-family:Montserrat;">
              Free Code Campers 
            </h1>
        
           </div>
         </div>
      </div>    
    </div>
  </section>
<body>

<h3 style="margin-left:100px; color: gray">Leaderboard</h3>
<p>
  <a href="{{ url_for('fccleaderboardlogin') }}" style="font-size:15px;color:#EB8B24;margin-left:100px"><u>Login</u></a>
  <a href="{{ url_for('fccleaderboardregister') }}" style="font-size:15px;color:#EB8B24;margin-left:5px"><u>Register</u></a>
</p>

<div>
  <table style="font-size:17px;width:76%;text-align:left;font-weight:normal;margin-left:100px" border="0">
  <tr>
    <th>User</th>
    <th>Progress</th>
  </tr>       
  <tr>
    <th></th>
    <th>▥▥▥▥▥▥▥▩▥▥▥▥▥▥▥▥▥▩▥▥▥▥▥▥▩▥▥▩▥▥▥▩▥▥▥▩▥▥▥▥▩</th>
  </tr>    
  {% for fccampers in fccamperslist %}
  <tr>
    <td>{% print fccampers[0] %}</td>
    <td>{% print fccampers[1] %}</td>
  </tr>
  {% endfor %}               
  </table>
</div>  


    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/smart-forms.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</body>
  <!-- Fellowship Ends -->

{% endblock content %}