{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section id="showcase">

    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mt-5">
        
            <h1 class="display-3 mt-5 pt-1 top-spacing" style="font-family:Montserrat;">
              Sydney Volunteer Programmers
            </h1>
        
           </div>
         </div>
      </div>    
    </div>

  </section>

  <!-- Our Services-->
  <section id="services" class="my-5 text-center bg-info spacing-up">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h1 class="text-primary pb-3 mt-5">
                <!-- Our Services --> 
              </h1>
            </div>
          </div>
      </div>  
  </section> 

  <section id="home-icons" class="py-5 move-up bg-light">
    <div class="container">
      <div class="row">
       
        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/001-responsive.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Pay-as-you-feel Development</h4>
          <p class="service-text">We help individuals, startups and established organisations alike in building bespoke applications 
            for their work or business. It can be as simple as brochure websites or as complex as business 
            process workflow applications. We offer pay-you-feel model to help beginners gain real-world paid experience.</p>
        </div>
       
        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/002-checklist.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Address Validation</h4>
          <p class="service-text">We use Mastersoft Group's Harmony software to help customers in Australia and New Zealand cleanse
              and deduplicate address data as part of their customer information data quality initiative in the 
              organisation.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/003-man.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Free Consultation</h4>
          <p class="service-text">Have a chat with us to discuss how we can help.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- Services Ends --> 

  <!-- Meet The Team -->
  <section id="services" class="my-5 text-center bg-info spacing-up">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h1 class="text-primary pb-3 mt-5">
                Meet The Team
              </h1>
            </div>
          </div>
      </div>  
  </section> 

  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/engramar.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Engramar Bollas</h4>
              <h5 class="text-muted">Director</h5>
              <p class="team-text">Engramar's raison d'etre is to serve. A believer of servant leadership. He is passionate in providing service excellence to customers and ensuring people, culture, processes and technology support the same initiative.
Engramar has worked in the IT industry for over 24 years. Having worked in Asia, the Middle East and Australia, Engramar has deep expertise in all aspects of software development lifecycle including business requirements analysis, systems design and development, product testing, release management, end-user training, pre-sales and post-implementation support.
Engramar is working for GBG (Mastersoft Group) as their Head of Customer Support and Testing team. Engramar is also the current Director of Code.Sydney, an organisation which helps beginner programmers and novice data analysts showcase their newfound skills. Engramar has obtained a degree in Mathematics major in Computer Science from the Pontifical and Royal University of Santo Tomas in Manila.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/engramarbollas/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/tony.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Tony Johnson</h4>
              <h5 class="text-muted">Software Engineer / Systems Administrator</h5>
              <p class="team-text">Despite having a Degree in Prehistory and Archaeology, Tony has survived 30 years in various IT 
                careers; from hardware sales and service, support desk, linux systems administration, 
                management, consultancy, and software development. 
                He began coding commercially 8 years ago in Java for Structural Geology project, 
                and moved on to full-stack web development. 
                He has completed the Free Code Camp front-end and back-end curriculum for JavaScript, 
                React/Redux, Node/Express, MongoDB and GraphQL. 
                Tony is an active participant in Free Code Camp Sydney meetups. Currently, 
                he is contracted as Project Manager for McLowd Financial Services Marketplace, 
                a cloud-based software company.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/tony-johnson-53995413/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/promie_new.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Promie Yutasane</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">Promie is currently working as a Software Engineer at Hireup, a tech company with an online platform that connects people with disability with support workers. 
                He has a very strong focus on full stack development and currently using NodeJS, MongoDB, GraphQL/Apollo, React and Vue. 
                He is a part-time student at UNSW studying Masters of IT specialising in Artificial Intelligence and E-Commerce Systems. 
                Promie spends his spare time mentoring new programmers at Code.Sydney. As one of the pioneer mentors of Code.Sydney, 
                Promie has introduced standardised processes around GitHub code submission among developers. He is also the chief envangelist of Vue JS in Code.Sydney.   
              </p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/promie-yutasane-74a024140/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/gagan.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Gagan Shrestha</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">Gagan is a Software Testing Professional with over 12 years of experience in the testing domain. Gagan's key areas of expertise includes understanding complex business requirements and formulating robust test strategies, developingtest plan, test cases and automated test solutions, test case execution, defect management, and product support. His interest for Python started with test automation converting test scripts from Perl into Python. With discovery of the strength of Python to achieve significant efficiency and effectiveness, his passion has increased and he is in continuous pursuit of mastering the language. He is very excited to be part of Code.Sydney and support all who is in journey of learning Python.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/gagan-shrestha-0aaaa84/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <!-- Mentors Section 2 -->
  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/bin.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Bin Liu</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">Bin has ten years working experience as a Software Developer and Business Intelligence consultant. His development career started with Java. Recently he is using some script languages like Python, Perl and JavaScript and actively participating as the lead developer of Census+ project. Bin has good sense in coding and is good at learning new technologies. He is interested in Python because it can be applied to many technological areas, such as web application development, data science and so on. He would like to make progress with others who are also interested in Python-related technologies.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/bin-liu-308b841a/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">

              <img src="{{ url_for('static', filename='img/jaydn.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Jaydn Chou</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">A medical scientist turned self-taught developer turned software engineer. Currently working at Arbor Networks using ReactJS, GraphQL/Apollo, Elasticsearch and Node to deliver products that present customers with a globally-scoped view of the internet threat landscape. Jaydn is passionate about minimal design. Her design approach is heavily influenced by Don Draper - "Make it simple, yet significant". An advocate of lifelong learning, design thinking and remote working. Also a JavaScript workshop facilitator and mentor at MusesJS (formerly NodeGirls). Excited to help newcomers embark on their coding journey as well as helping each other progress through FreeCodeCamp's full-stack curriculum.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/jaydnchou/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">

              <img src="{{ url_for('static', filename='img/kevin.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Kevin Foong</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">Kevin has over 20 years of working experience in a variety of IT related areas including software development, web design and information management. The latter in the area of library and information science. He is currently working as a System Administrator for NSW Health where he mainly utilises SQL for report generation. He recently started learning Python, at first because he wanted to get into data science, but then found Flask along the way. He now considers himself a Python and Flask enthusiast and is interested in sharing his knowledge and learning from others.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/kevin-foong-044794/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">

            <div class="card-body">
              <img src="{{ url_for('static', filename='img/june.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>June Kongyang</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">June Kongyang is currently a design and development engineer. She has broad experience in design, development and testing of network security systems. June started coding using C and C++ for robotic control automation such as sensors and micro-controllers. June graduated with a masters degree in Electrical Engineering. She joined Code.Sydney due to her interest in both Python and JavaScript programming languages. She found both languages pretty handy on increasing work productivity. She is keen to share her knowledge to anyone who wants to learn coding.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                <div class="p-4">
                    <a href="https://au.linkedin.com/in/june-kongyang" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </section>


  <!-- Mentors Section 3 -->
  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/surya.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Surya Setiyaputra</h4>
              <h5 class="text-muted">Software Engineer</h5>
              <p class="team-text">Surya is a full-stack software developer with more than three-year professional experience with a previous life as a research scientist in Biophysics. He is a self-described ‘generalist’ with practical experience in setting up small businesses, personal finance, design, community building and tech startup in both Australia and Indonesia. Since mid-2019, Surya has been an active contributor to Free Code Camp Sydney meetups. As a self-taught developer, he is particularly interested in helping new coders who are interested in landing their entry role as a Junior Developer after going through the FreeCodeCamp full-stack curriculum. His current favourite web development stacks are Kotlin/Spring Boot, Ruby on Rails, Node, ReactJS and VueJS. In the near future, he aims to learn more SQL and functional programming. When he is not coding, Surya likes to read books about economics, anthropology, history and politics.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://au.linkedin.com/in/suryast" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <div class="spacing"></div>

  <!-- Friends -->
  <section id="partners" class="my-5 text-center bg-info spacing-up">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h1 class="text-primary pb-3 mt-5">
                Friends
              </h1>
            </div>
          </div>
        </div>  
      </section>   

    <div class="spacing"></div>  
  
    <section id="home-icons" class="py-5 move-up-more bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/mastersoft.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.mastersoftgroup.com/" target="_blank">Mastersoft Group</a></h4>
            <p class="service-text">Mastersoft Group (a GBG company) is behind the development of Harmony software. Mastersoft has been a leading provider of data quality
              and address validation software services to blue-chip companies and government 
              agencies across Australia and New Zealand for over 35 years.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/actura.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://www.actura.com.au/" target="_blank">Actura Australia</a></h4>
            <p class="service-text">Actura empowers youth to master the critical STEAM related skill sets for their future success.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/fcc.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></h4>
            <p class="service-text">Free Code Camp is an open source community that helps you learn to code, build pro bono projects for nonprofits, and get a job as a developer.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/prettyprinted.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://prettyprinted.com/" target="_blank">Prettyprinted</a></h4>
            <p class="service-text">Prettyprinted is a specialised Flask online training course provider. They are our education partner for our Flask training.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/thelittlespace.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://thelittlespace.com.au/" target="_blank">The Little Space</a></h4>
            <p class="service-text">The Little Space is a boutique co-working space in Bondi Junction. The home of Code.Sydney's Sunday trainings.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/legal123.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://www.1shoppingcart.com/app/?af=1687312" target="_blank">Legal123 Pty Ltd</a></h4>
            <p class="service-text">Legal123 Pty Ltd offers off-the-shelf legal templates perfect for startups.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/Calo.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://www.caloservices.com/" target="_blank">CALO Services</a></h4>
            <p class="service-text">CALO Services provides software solutions to fleet and education industry. Code.Sydney is helping CALO develop applications related to the education industry.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/webdesignerpro.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://thewebdesignerpro.com/" target="_blank">The Web Designer Pro</a></h4>
            <p class="service-text">Web Designer Pro is an agency which provides 3D rendering and animation.</p>
          </div>

        </div>
      </div>
    </section>
  <!-- Partners Ends -->

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/smart-forms.min.js"></script>
  <!-- Contact Ends -->

{% endblock content %}