{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section>
    <div class="col-lg-12 text-center mt-15">
        <h1 class="display-4 mt-5 pt-3 top-spacing" style="font-family:Montserrat;">
          Sydney Volunteer Programmers
        </h1>
        <h2 style="font-family:Montserrat;">
          1st place, Vibewire's Hack4FI (Financial Inclusion)
        </h2>
        <h2 style="font-family:Montserrat;">
          3rd place, Vibewire's Hack4Homelessness
        </h2>
        <br>
    </div>
  </section>

  <section>
    <div class="col-lg-12 text-center mt-15">
      <iframe width="600" height="355" src="https://www.youtube.com/embed/H1CH5BdN-Ng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>

  <div class="spacing"></div>       

  <section id="home-icons" class="py-5 move-up bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/005-login.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Supporting Non-Profits</h4>
          <p class="service-text">We offer mentor-backed support for non-profit organisations and community groups around Australia for any bespoke app development needed to empower their operations. 
            In return, it is our hope that NFPs can provide real-world project exposure to some of our volunteer beginners in aid of their career progression.</p>
        </div>
        
        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/001-responsive.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Pay-as-you-feel Development</h4>
          <p class="service-text">We help individuals, startups and established organisations alike in building bespoke applications 
            for their work or business. It can be as simple as brochure-type websites or as complex as business 
            process workflow applications. We offer pay-you-feel model to help beginners gain real-world paid experience.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
          <img src="{{ url_for('static', filename='img/002-checklist.png') }}" width="80px" class="mb-2 img-fluid">
          <h4>Study Groups</h4>
          <p class="service-text">We regularly organise study groups for complete beginners covering new and existing topics around popular programming languages and frameworks.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- Services Ends --> 

  <!-- Meet The Team -->
  <section id="services" class="my-5 text-center bg-info spacing-up">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h1 class="text-primary pb-3 mt-5">
                Mentors
              </h1>
            </div>
          </div>
      </div>  
  </section> 

  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/engramar.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Engramar Bollas</h4>
              <h5 class="text-muted">Director</h5>
              <p class="team-text">Engramar's raison d'etre is to serve. A believer of servant leadership. He is passionate in providing service excellence to customers and ensuring people, culture, processes and technology support the same initiative.
Engramar has worked in the IT industry for over 25 years. Having worked in Asia, the Middle East and Australia, Engramar has deep expertise in all aspects of software development lifecycle including business requirements analysis, systems design and development, product testing, release management, end-user training, pre-sales and post-implementation support.
Engramar is working for GBG (Loqate) as Head of Customer Support. Engramar is also the current Director of Code.Sydney, an organisation which helps beginner programmers and novice data analysts showcase their newfound skills. Engramar has obtained a degree in Mathematics major in Computer Science from the Pontifical and Royal University of Santo Tomas in Manila.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/engramarbollas/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/tony.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Tony Johnson</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">Despite having a Degree in Prehistory and Archaeology, Tony has survived 30 years in various IT 
                careers; from hardware sales and service, support desk, linux systems administration, 
                management, consultancy, and software development. 
                He began coding commercially 8 years ago in Java for Structural Geology project, 
                and moved on to full-stack web development. 
                He has completed the Free Code Camp front-end and back-end curriculum for JavaScript, 
                React/Redux, Node/Express, MongoDB and GraphQL. 
                Tony is an active participant in Free Code Camp Sydney meetups. Currently, 
                he is contracted as Project Manager for McLowd Financial Services Marketplace, 
                a cloud-based software company.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/tony-johnson-53995413/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/promie_new.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Promie Yutasane</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">Promie is currently working as a Software Engineer at Hireup, a tech company with an online platform that connects people with disability with support workers. 
                He has a very strong focus on full stack development and currently using NodeJS, MongoDB, GraphQL/Apollo, React and Vue. 
                He is a part-time student at UNSW studying Masters of IT specialising in Artificial Intelligence and E-Commerce Systems. 
                Promie spends his spare time mentoring new programmers at Code.Sydney. As one of the pioneer mentors, 
                Promie has introduced standardised processes around GitHub code submission among developers. He is also the chief envangelist of Vue JS in Code.Sydney.   
              </p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/promie-yutasane-74a024140/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/kevin.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Kevin Foong</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">Kevin has over 20 years of working experience in a variety of IT related areas including software development, web design and information management. The latter in the area of library and information science. He is currently working as a System Administrator for NSW Health where he mainly utilises SQL for report generation. He recently started learning Python, at first because he wanted to get into data science, but then found Flask along the way. He now considers himself a Python and Flask enthusiast and is interested in sharing his knowledge and learning from others.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/kevin-foong-044794/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <!-- Mentors Section 2 -->
  <div class="spacing"></div>    

  <section id="authors" class="my-5 text-center bg-light">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">

              <img src="{{ url_for('static', filename='img/surya.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Surya Setiyaputra</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">Surya is a full-stack software developer with more than three-year professional experience with a previous life as a research scientist in Biophysics. He is a self-described ‘generalist’ with practical experience in setting up small businesses, personal finance, design, community building and tech startup in both Australia and Indonesia. Since mid-2019, Surya has been an active contributor to Free Code Camp Sydney meetups. As a self-taught developer, he is particularly interested in helping new coders who are interested in landing their entry role as a Junior Developer after going through the FreeCodeCamp full-stack curriculum. His current favourite web development stacks are Kotlin/Spring Boot, Ruby on Rails, Node, ReactJS and VueJS. In the near future, he aims to learn more SQL and functional programming. When he is not coding, Surya likes to read books about economics, anthropology, history and politics.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://au.linkedin.com/in/suryast" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{ url_for('static', filename='img/bin.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Bin Liu</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">Bin has ten years working experience as a Software Developer and Business Intelligence consultant. His development career started with Java. Recently he is using some script languages like Python, Perl and JavaScript and actively participating as the lead developer of Census+ project. Bin has good sense in coding and is good at learning new technologies. He is interested in Python because it can be applied to many technological areas, such as web application development, data science and so on. He would like to make progress with others who are also interested in Python-related technologies.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/bin-liu-308b841a/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card h-100">

            <div class="card-body">
              <img src="{{ url_for('static', filename='img/june.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>June Kongyang</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">June Kongyang is currently a design and development engineer. She has broad experience in design, development and testing of network security systems. June started coding using C and C++ for robotic control automation such as sensors and micro-controllers. June graduated with a masters degree in Electrical Engineering. She joined Code.Sydney due to her interest in both Python and JavaScript programming languages. She found both languages pretty handy on increasing work productivity. She is keen to share her knowledge to anyone who wants to learn coding.</p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://au.linkedin.com/in/june-kongyang" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      
        <div class="col-lg-3 col-md-6">
          <div class="card h-100">

            <div class="card-body">
              <img src="{{ url_for('static', filename='img/qj.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h4>Qj Stout-Spykers</h4>
              <h5 class="text-muted">Mentor</h5>
              <p class="team-text">
                Qj is a computer science graduate and achieved high distinctions in microprocessor systems, systems and database design, discrete mathematics and programming principles. His primary software development experience is in embedded systems, deep-learning and back-end engineering. Currently, he is constraining his focus to mastering full-stack web development, after which, he has his eye on studying project management.
As a Code.Sydney volunteer, Qj has acted as a technical team lead and principal back-end engineer on the CodeSydney website rework and internal 'Strataly’ project respectively.
Qj can usually be found deep in some obscure documentation or sharing his knowledge on the Code.Sydney Slack. In his past life, Qj was a professional musician and guitar tutor.
              </p>
              <div class="d-flex justify-content-center">
                <div class="p-4">
                  <a href="https://au.linkedin.com/in/qj-stout-spykers-704b221a1" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </section>


    <!-- Mentors Section 3 -->
    <div class="spacing"></div>    

    <section id="authors" class="my-5 text-center bg-light">
  
      <div class="container">
        <div class="row">


          <div class="col-lg-3 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <img src="{{ url_for('static', filename='img/gabriel.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h4>Gabriel Djan</h4>
                <h5 class="text-muted">Mentor</h5>
                <p class="team-text">
                  Gabriel started her design career in a fire safety company as Information Designer, in charge of emergency evacuation diagram design and production for clients like Only About Children, AMF Bowling Group, MECCA to name a few. 
                  She then left the Information Designer role for UX UI designer role to work for a company specialising in applications software design, programming, system configuration, engineering, installation, commissioning of Building Automation, Management Systems & Access Control Systems.
                  She designed user interfaces, user experience, and data analytics for real live data IoT and SaaS applications for clients like Citigroup, Bennelong, Crown Group, WeWork, Sans Clinic, and Dematic.
                  Her unique combination of experiences complementing the UX UI Designer role includes a Computer Science (Bachelor Degree -  Distinction) degree, digital design, and digital photography. She is a Tridium Niagara 4 Technical Certification Program (TCP) trained. 
                  In her free time, she likes exploring investment vehicles/products.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/gabrieltwd/" target="_blank">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <img src="{{ url_for('static', filename='img/lillian.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h4>Lillian Luzinsky</h4>
                <h5 class="text-muted">Mentor</h5>
                <p class="team-text">
                  Lillian is a versatile Designer and Creative Technologist, with a keen eye for clean and elegant design throughout all her projects. She possesses a wide range of skills, including UX/UI Design, Motion Graphics and Software Engineering. Lillian absolutely loves CSS and making things look great and user-friendly. Before transitioning into Front End Development, Lillian spent time as a Graphic Designer for property marketing and later shifted into freelancing, where she has been building her own business for 13 years providing high quality design services. Due to her diverse abilities, she is highly proficient in collaborating and communicating with cross-functional teams, and loves learning and refining her programming skills.
                </p>
                <div class="d-flex justify-content-center">
                  <div class="p-4">
                    <a href="https://au.linkedin.com/in/lillian-luzinsky" target="_blank">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  
    </section>
  
  <div class="spacing"></div>

  <!-- Friends -->
  <section id="partners" class="my-5 text-center bg-info spacing-up">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-5">
              <h1 class="text-primary pb-3 mt-5">
                Supported Non-Profits and Friends
              </h1>
            </div>
          </div>
        </div>  
      </section>   

    <div class="spacing"></div>  
  
    <section id="home-icons" class="py-5 move-up-more bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/dccajs.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.freecodecamp.org/" target="_blank">Deadly Connections Community and Justice Services Limited</a></h4>
            <p class="service-text">Deadly Connections is a Aboriginal Community Led, Not For Profit Organisation that breaks the cycles of disadvantage and trauma to directly address the over-representation of Aboriginal people in the child protection and justice system/s.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/ims.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.ims.org.au/" target="_blank">Illawarra Multicultural Services</a></h4>
            <p class="service-text">IMS have been supporting culturally and linguistically diverse communities in the Illawarra since 1980, providing  assistance to migrants, humanitarian visa entrants, and refugees.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/paact.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://paact.org.au/" target="_blank">Prisoners Aid (ACT)</a></h4>
            <p class="service-text">Prisoners Aid has been operating as a community organisation in Canberra since 1963. Over the years, they have assisted thousands of clients - including prisoners, released prisoners, families of prisoners, and those involved in the court system.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/woc.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://womenofcolour.org.au/" target="_blank">Women of Colour Australia</a></h4>
            <p class="service-text">Women of Colour Australia is a non-profit organisation run by women of colour for women of colour. They exist to champion Australia's Women of Colour through programs of education, community support initiatives, and advocacy work.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/talkingtime.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://talkingtimepodcast.com.au/" target="_blank">Talking Time Podcast</a></h4>
            <p class="service-text">Talking Time is a place where uncomfortable conversations about incarceration and everything to do with it take place. It is where the voice of those who have lived it, have loved ones that have or are living it, work in it or have an interest in it, come together in a safe and supportive place.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/fcc.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></h4>
            <p class="service-text">Free Code Camp is an open source community that helps you learn to code, build pro bono projects for nonprofits, and get a job as a developer.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/actura_logo.jpg') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://www.actura.com.au/" target="_blank">Actura Australia</a></h4>
            <p class="service-text">Actura empowers youth to master the critical STEAM related skill sets for their future success.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/vuemastery.jpg') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://www.vuemastery.com/pricing/?coupon=CODESYDNEY25" target="_blank">Vue Mastery</a></h4>
            <p class="service-text">Code.Sydney has an established relationship with Vue Mastery which allows us to get discounted rates for their excellent Vue training materials.</p>          
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/prettyprinted.png') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://prettyprinted.com/" target="_blank">Prettyprinted</a></h4>
            <p class="service-text">Prettyprinted is a specialised Flask online training course provider. They are our education partner for our Flask training.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/thelittlespace.jpg') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://thelittlespace.com.au/" target="_blank">The Little Space</a></h4>
            <p class="service-text">The Little Space is a boutique co-working space in Bondi Junction. The home of Code.Sydney's Sunday trainings.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/legal123.jpg') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="http://www.1shoppingcart.com/app/?af=1687312" target="_blank">Legal123 Pty Ltd</a></h4>
            <p class="service-text">Legal123 Pty Ltd offers off-the-shelf legal templates perfect for startups.</p>
          </div>

          <div class="col-md-4 mb-4 text-center">
            <img src="{{ url_for('static', filename='img/webdesignerpro.jpg') }}" width="250px" class="mb-2 img-fluid" style="height:95px;width:355px;">
            <h4><a href="https://thewebdesignerpro.com/" target="_blank">The Web Designer Pro</a></h4>
            <p class="service-text">Web Designer Pro is an agency which provides 3D rendering and animation.</p>
          </div>

        </div>
      </div>
    </section>
  <!-- Partners Ends -->

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/smart-forms.min.js"></script>
  <!-- Contact Ends -->

{% endblock content %}