{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section>
    <div class="col-lg-12 text-center mt-15">
        <h1 class="display-4 mt-5 pt-3 top-spacing" style="font-family:Montserrat;">
          Merch
        </h1>
    </div>
  </section>

  <!-- Contact -->
  <section id="merch" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4 style="font-family: Montserrat">All proceeds will go to the following:</h4>
          <ul style="font-family: Montserrat; font-size: 15px;">
            <li>92.5% Community Fund</li>
            <li>5% Local Charity Fund</li>
            <li>2.5% Operating Expenses</li>
          </ul>
        </div>
  </section>

<body>
  <div class="shopping-grid">
    <div class="container">
      <div class="row">

          <div class="col-md-3 col-sm-6">
              <div class="product-grid7">
                  <div class="product-image7">
                      <a href="https://www.spreadshirt.com.au/shop/design/codesydney+mens+t-shirt-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-210-7" target="_blank">
                          <img class="pic-1" src="/static/img/codesydney-mens-t-shirt.jpg">
                      </a>
                  </div>
                  <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                      <h2 class="title">Men's T-Shirt</h2>
                  </div>
              </div>
          </div>


          <div class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a href="https://www.spreadshirt.com.au/shop/design/codesydney+mens+premium+hoodie-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-20-22" target="_blank">
                        <img class="pic-1" src="/static/img/codesydney-mens-premium-hoodie.jpg">
                    </a>
                </div>
                <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                    <h2 class="title">Men's Premium Hoodie</h2>
                </div>
            </div>
         </div>

         <div class="col-md-3 col-sm-6">
          <div class="product-grid7">
              <div class="product-image7">
                  <a href="https://www.spreadshirt.com.au/shop/design/codesydney+womens+t-shirt-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-347-8" target="_blank">
                      <img class="pic-1" src="/static/img/codesydney-womens-t-shirt.jpg">
                  </a>
              </div>
              <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                  <h2 class="title">Women's T-Shirt</h2>
              </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid7">
              <div class="product-image7">
                  <a href="https://www.spreadshirt.com.au/shop/design/codesydney+womens+premium+hoodie-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-444-23" target="_blank">
                      <img class="pic-1" src="/static/img/codesydney-womens-premium-hoodie.jpg">
                  </a>
              </div>
              <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                  <h2 class="title">Women's Premium Hoodie</h2>
              </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid7">
              <div class="product-image7">
                  <a href="https://www.spreadshirt.com.au/shop/design/codesydney+computer+backpack-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-1157-33" target="_blank">
                      <img class="pic-1" src="/static/img/codesydney-bag.jpg">
                  </a>
              </div>
              <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                  <h2 class="title">Code.Sydney Bag</h2>
              </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid7">
              <div class="product-image7">
                  <a href="https://www.spreadshirt.com.au/shop/design/codesydney+baseball+cap-D5efdbfcc2051764d0ed6ec13?sellable=jwon4NnxjgunyLrAE24r-129-34" target="_blank">
                      <img class="pic-1" src="/static/img/codesydney-cap.jpg">
                  </a>
              </div>
              <div class="product-content" style="font-family: Montserrat; font-size: 12px;">
                  <h2 class="title">Code.Sydney Cap</h2>
              </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
<script src="assets/js/jquery.min.js"></script>
</body>

{% endblock content %}