{% extends 'layout.html' %} {% block content %}
<!-- SHOWCASE -->
<section>
  <div class="col-lg-12 text-center mt-15">
      <h1 class="display-4 mt-5 pt-3 top-spacing" style="font-family:Montserrat;">
        The Odin Project Journey
      </h1>
  </div>
</section>

<body>
  <div>
    <h3 style="margin-left: 100px; color: gray">My Odin Project Journey</h3>
    <form method="POST" action="{{ url_for('odinstudygroupupdate') }}">
      <table style="font-size: 12px; margin-left: 100px">
        <tr>
          <td>{{ form.Email.label }}: {{ Email }}</td>
        </tr>
      </table>
      <table style="font-size: 12px; margin-left: 100px">
        <tr>
          <td>{{ form.A1.label }}</td>
          <td>{{ form.A1 }}</td>
        </tr>
        <tr>
          <td>{{ form.A2.label }}</td>
          <td>{{ form.A2 }}</td>
        </tr>
        <tr>
          <td>{{ form.A3.label }}</td>
          <td>{{ form.A3 }}</td>
        </tr>
        <tr>
          <td>{{ form.A4.label }}</td>
          <td>{{ form.A4 }}</td>
        </tr>
        <tr>
          <td>{{ form.A5.label }}</td>
          <td>{{ form.A5 }}</td>
        </tr>
        <tr>
          <td>{{ form.A6.label }}</td>
          <td>{{ form.A6 }}</td>
        </tr>
        <tr>
          <td>{{ form.A7.label }}</td>
          <td>{{ form.A7 }}</td>
        </tr>
        <tr>
          <td>{{ form.A8.label }}</td>
          <td>{{ form.A8 }}</td>
        </tr>
        <tr>
          <td>{{ form.A9.label }}</td>
          <td>{{ form.A9 }}</td>
        </tr>
        <tr>
          <td>{{ form.A10.label }}</td>
          <td>{{ form.A10 }}</td>
        </tr>
        <tr>
          <td>{{ form.A11.label }}</td>
          <td>{{ form.A11 }}</td>
        </tr>
        <tr>
          <td>{{ form.A12.label }}</td>
          <td>{{ form.A12 }}</td>
        </tr>
        <tr>
          <td>{{ form.A13.label }}</td>
          <td>{{ form.A13 }}</td>
        </tr>
        <tr>
          <td>{{ form.A14.label }}</td>
          <td>{{ form.A14 }}</td>
        </tr>
        <tr>
          <td>{{ form.A15.label }}</td>
          <td>{{ form.A15 }}</td>
        </tr>
        <tr>
          <td>{{ form.A16.label }}</td>
          <td>{{ form.A16 }}</td>
        </tr>
        <tr>
          <td>{{ form.A17.label }}</td>
          <td>{{ form.A17 }}</td>
        </tr>
        <tr>
          <td>{{ form.A18.label }}</td>
          <td>{{ form.A18 }}</td>
        </tr>
        <tr>
          <td>{{ form.A19.label }}</td>
          <td>{{ form.A19 }}</td>
        </tr>
        <tr>
          <td>{{ form.A20.label }}</td>
          <td>{{ form.A20 }}</td>
        </tr>
        <tr>
          <td>{{ form.A21.label }}</td>
          <td>{{ form.A21 }}</td>
        </tr>
        <tr>
          <td>{{ form.A22.label }}</td>
          <td>{{ form.A22 }}</td>
        </tr>
        <tr>
          <td>{{ form.A23.label }}</td>
          <td>{{ form.A23 }}</td>
        </tr>
        <tr>
          <td>{{ form.A24.label }}</td>
          <td>{{ form.A24 }}</td>
        </tr>
        <tr>
          <td>{{ form.A25.label }}</td>
          <td>{{ form.A25 }}</td>
        </tr>
        <tr>
          <td>{{ form.A26.label }}</td>
          <td>{{ form.A26 }}</td>
        </tr>
        <tr>
          <td>{{ form.A27.label }}</td>
          <td>{{ form.A27 }}</td>
        </tr>
        <tr>
          <td>{{ form.A28.label }}</td>
          <td>{{ form.A28 }}</td>
        </tr>
        <tr>
          <td>{{ form.A29.label }}</td>
          <td>{{ form.A29 }}</td>
        </tr>
        <tr>
          <td>{{ form.A30.label }}</td>
          <td>{{ form.A30 }}</td>
        </tr>
        <tr>
          <td>{{ form.A31.label }}</td>
          <td>{{ form.A31 }}</td>
        </tr>
        <tr>
          <td>{{ form.A32.label }}</td>
          <td>{{ form.A32 }}</td>
        </tr>
        <tr>
          <td>{{ form.A33.label }}</td>
          <td>{{ form.A33 }}</td>
        </tr>
        <tr>
          <td>{{ form.A34.label }}</td>
          <td>{{ form.A34 }}</td>
        </tr>
        <tr>
          <td>{{ form.A35.label }}</td>
          <td>{{ form.A35 }}</td>
        </tr>
        <tr>
          <td>{{ form.A36.label }}</td>
          <td>{{ form.A36 }}</td>
        </tr>
        <tr>
          <td>{{ form.A37.label }}</td>
          <td>{{ form.A37 }}</td>
        </tr>
        <tr>
          <td>{{ form.A38.label }}</td>
          <td>{{ form.A38 }}</td>
        </tr>
        <tr>
          <td>{{ form.A39.label }}</td>
          <td>{{ form.A39 }}</td>
        </tr>
        <tr>
          <td>{{ form.A40.label }}</td>
          <td>{{ form.A40 }}</td>
        </tr>
        <tr>
          <td>{{ form.A41.label }}</td>
          <td>{{ form.A41 }}</td>
        </tr>
        <tr>
          <td>{{ form.A42.label }}</td>
          <td>{{ form.A42 }}</td>
        </tr>
        <tr>
          <td>{{ form.A43.label }}</td>
          <td>{{ form.A43 }}</td>
        </tr>
        <tr>
          <td>{{ form.A44.label }}</td>
          <td>{{ form.A44 }}</td>
        </tr>
        <tr>
          <td>{{ form.A45.label }}</td>
          <td>{{ form.A45 }}</td>
        </tr>
      </table>
      <br />
      <div style="font-size: 12px; margin-left: 100px">{{ form.Save }}</div>
    </form>
  </div>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/smart-forms.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</body>
<!-- Fellowship Ends -->

{% endblock content %}
