{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section id="showcase">

    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center mt-5">
        
            <h1 class="display-3 mt-5 pt-5 top-spacing" style="font-family:Montserrat;">
              Projects
            </h1>
        
           </div>
         </div>
      </div>    
    </div>

  </section>

  <!-- Projects -->

    <div class="spacing"></div>

    <section id="home-icons" class="py-5 move-up-more bg-light">
      <div class="container">
        <div class="row">


    <div class="projects-clean">
        <div class="container">
            <!--
            <div class="intro">
                <h2 class="text-center" style="font-size:65px;">Projects</h2>
            </div>
            -->
            <div class="row projects">

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Lead Generator for Education Agencies</h3>
                    <p class="description">This app is a lead generation app built for education agencies to assist international students in Australia.</p>
                    <p class="description">
                        App Name: Arisa <br/>
                        Developer: <a href="https://www.code.sydney" target="_blank">Code.Sydney</a> <br/>
                        Status: In progress <br/>
                    </p>
                </div>

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Meetup Organisers App</h3>
                    <p class="description">This app provides insights to Meetup.com organisers to monitor and control activities of their group.</p>
                    <p class="description">
                        App Name: MOA <br/>
                        Developer: <a href="https://www.code.sydney" target="_blank">Code.Sydney</a> <br/>
                        Status: In progress <br/>
                    </p>
                </div>

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Census Information Lookup Tool</h3>
                    <p class="description">The tool exposes all census information about an address plus additional attributes on top of census data to gain further insights. Possible use cases are market segmentation, property research, risk rating, government resource allocation and others.</p>
                    <p class="description">
                        App Name: Census Plus <br/>
                        Developer: <a href="https://www.code.sydney" target="_blank">Code.Sydney</a> <br/>
                        Status: In progress <br/>
                   </p>
                </div>

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Strata Executive Committee Issue Tracker</h3>
                    <p class="description">This proposed app can help executive committee of any strata community track issues raised by tenants.</p>
                    <p class="description">
                        App Name: Not yet available <br/>
                        Developer: Open for any developer <br/>
                        Status: To be developed <br/>
                   </p>
                </div>

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Selective School Acceptance Predictor</h3>
                    <p class="description">This app helps parents determine whether their child can get into NSW selective schools. It can be used as a predictive tool by selective schools tutoring centers.</p>
                    <p class="description">
                        App Name: mySelective <br/>
                        Developer: <a href="https://www.code.sydney" target="_blank">Code.Sydney</a> <br/>
                        Status: Completed <br/>
                    </p>
                </div>

                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">DCCAJS Landing Page</h3>
                    <p class="description">Quick landing page for Deadly Connections Community and Justice Services.</p>
                    <p class="description">
                        App Name: DCCAJS <br/>
                        Developer: <a href="https://www.code.sydney" target="_blank">Code.Sydney</a> <br/>
                        Status: Completed <br/>
                    </p>
                </div>

            </div>
        </div>
    </div>


        </div>
      </div>
    </section>
  <!-- Projects -->

{% endblock content %}