{% extends 'layout.html' %} {% block content %}

<div class="text-center">
  <h6></h6>
  <img
    src="{{ url_for('static', filename='img/React.png') }}"
    width="500px"
    class="mb-2 img-fluid"
  />
</div>

<div class="text-center">
  <h1>
    Beginner React Study Group
  </h1>
</div>
<p style="margin: 30px;"></p>

<table
  style="margin-left: 20px;"
  id="example"
  class="table table-striped table-bordered"
  cellspacing="0"
  width="100%"
>
  <tbody>
    <tr>
      <td>What is React</td>
      <td>
        In a nutshell, React is a JavaScript library for building user interfaces
      </td>
    </tr>
      <td>React vs Vue vs Angular</td>
      <td>
        <a
          href="https://trends.google.com/trends/explore?cat=733&date=today%205-y&q=React,Vue,Angular"
          target="_blank"
        >
          Google Trends
        </a>
      </td>
    </tr>
    <tr>
      <td>Class Start Date</td>
      <td>Saturday 2nd October 2021</td>
    </tr>
    <tr>
      <td>Intake</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <td>Target Audience</td>
      <td>
        Beginner developers who understand HTML, CSS and JavaScript at a basic level.
      </td>
    </tr>
    <tr>
      <td>Pace</td>
      <td>
        We will allocate half an hour of our life every day until we finish the course. 
      </td>
    </tr>
    <tr>
      <td>Fee</td>
      <td>
        We will use
        <a
          href="https://www.udemy.com/course/modern-react-bootcamp/"
          target="_blank"
        >
          Colt Steele's The Modern React Bootcamp in Udemy.
        </a>
        The course costs $27.99 in Udemy
      </td>
    </tr>
    <tr>
      <td>Slack</td>
      <td>
        <a
          href="https://join.slack.com/t/codesydney/shared_invite/enQtMzA4ODcyOTUyMDY0LTFlZDAyZjgwZmIzY2VmMzA0MjllOWI3YmE1NGZiNzQ5NGNmNjlhMGE5MTE1ZDA2NTU2OGRkZWQyYTQ3NDZmZGM"
          target="_blank"
          >Link to Code.Sydney's Slack Channel</a
        >
      </td>
    </tr>
  </tbody>
</table>

<p></p>
<p></p>


<br />
<div class="text-center">
  <h1>
    Course Outline
  </h1>
  <h5>39 Sections | 313 Lectures | 38h 48m total length</h5>
</div>
<p style="margin: 30px;"></p>

<table
  style="margin-left: 20px;"
  id="example"
  class="table table-striped table-bordered"
  cellspacing="0"
  width="100%"
>
  <tbody>
    <tr><td>1</td><td>A Taste of React</td><td>9 lectures 48 min</td></tr>
    <tr><td>2</td><td>Introducing JSX</td><td>5 lectures 26 min</td></tr>
    <tr><td>3</td><td>Props and More</td><td>9 lectures 42 min</td></tr>
    <tr><td>4</td><td>Introducing Create React App</td><td>9 lectures 50 min</td></tr>
    <tr><td>5</td><td>Pokedex Project</td><td>7 lectures 47 min</td></tr>
    <tr><td>6</td><td>Introducing State</td><td>12 lectures 1 hr 13 min</td></tr>
    <tr><td>7</td><td>React State Dice Exercise</td><td>5 lectures 38 min</td></tr>
    <tr><td>8</td><td>React State Patterns</td><td>7 lectures 48 min</td></tr>
    <tr><td>9</td><td>State Exercises!</td><td>4 lectures 34 min</td></tr>
    <tr><td>10</td><td>The World of React Events</td><td>7 lectures 52 min</td></tr>
    <tr><td>11</td><td>Hangman Exercise</td><td>9 lectures 44 min</td></tr>
    <tr><td>12</td><td>Lights Out Game</td><td>6 lectures 43 min</td></tr>
    <tr><td>13</td><td>Forms in React</td><td>5 lectures 34 min</td></tr>
    <tr><td>14</td><td>Forms Exercise</td><td>4 lectures 23 min</td></tr>
    <tr><td>15</td><td>Todo List Project</td><td>7 lectures 48 min</td></tr>
    <tr><td>16</td><td>Building Yahtzee</td><td>11 lectures 1 hr 56 min</td></tr>
    <tr><td>17</td><td>React Lifecycle Methods</td><td>7 lectures 41 min</td></tr>
    <tr><td>18</td><td>LifeCycle Methods & API Exercise</td><td>6 lectures 36 min</td></tr>
    <tr><td>19</td><td>Building the Dad Jokes App</td><td>13 lectures 1 hr 18 min</td></tr>
    <tr><td>20</td><td>React Router:</td><td>6 lectures 40 min</td></tr>
    <tr><td>21</td><td>Vending Machine Exercise</td><td>5 lectures 24 min</td></tr>
    <tr><td>22</td><td>React Router Patterns</td><td>9 lectures 48 min</td></tr>
    <tr><td>23</td><td>Router Exercises Part 2</td><td>8 lectures 1 hr 1 min</td></tr>
    <tr><td>24</td><td>The Massive Color Project Pt 1</td><td>12 lectures 1 hr 41 min</td></tr>
    <tr><td>25</td><td>The Massive Color Project Pt 2</td><td>6 lectures 45 min</td></tr>
    <tr><td>26</td><td>JSS & withStyles (Color App)</td><td>4 lectures 33 min</td></tr>
    <tr><td>27</td><td>The Massive Color Project Pt 3</td><td>10 lectures 1 hr 34 min</td></tr>
    <tr><td>28</td><td>The Massive Color Project Pt 4</td><td>10 lectures 1 hr 24 min</td></tr>
    <tr><td>29</td><td>The Massive Color Project Pt 5</td><td>10 lectures 1 hr 40 min</td></tr>
    <tr><td>30</td><td>The Massive Color Project Pt 6</td><td>12 lectures 1 hr 40 min</td></tr>
    <tr><td>31</td><td>The Massive Color Project Pt 7</td><td>12 lectures 1 hr 37 min</td></tr>
    <tr><td>32</td><td>Intoducing React Hooks</td><td>5 lectures 1 hr 1 min</td></tr>
    <tr><td>33</td><td>React Hooks Project</td><td>9 lectures 1 hr 20 min</td></tr>
    <tr><td>34</td><td>Introducing The Context API!</td><td>10 lectures 1 hr 37 min</td></tr>
    <tr><td>35</td><td>Using Context with Hooks</td><td>7 lectures 21 min</td></tr>
    <tr><td>36</td><td>State Management w/ useReducer and useContext</td><td>10 lectures 1 hr 19 min</td></tr>
    <tr><td>37</td><td>Next JS</td><td>8 lectures 53 min</td></tr>
    <tr><td>38</td><td>Next: Fetching & Server API</td><td>8 lectures 1 hr 14 min</td></tr>
    <tr><td>39</td><td>Bonus: Webpack Mini Course - Your Own Simple Version of Create React App</td><td>10 lectures 1 hr 56 min</td></tr>    
  </tbody>
</table>
<p></p>

<br />
<div class="text-center">
  <h1>
    Learning Progress Tracker
  </h1>
</div>
<p style="margin: 30px;"></p>

<p>
  <a
    href="{{ url_for('reactstudygrouplogin') }}"
    style="font-size: 20px; color: rgb(67, 119, 185); margin-left: 100px;"
    ><u>Login</u></a
  >
  <a
    href="{{ url_for('reactstudygroupregister') }}"
    style="font-size: 20px; color: rgb(67, 119, 185); margin-left: 5px;"
    ><u>Register</u></a
  >
</p>

<div>
  <table
    style="
      font-size: 17px;
      width: 76%;
      text-align: left;
      font-weight: normal;
      margin-left: 100px;
    "
    border="0"
  >
    <tr>
      <th>Camper</th>
      <th>Progress</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    {% for fccampers in fccamperslist %}
    <tr>
      <td>{% print fccampers[0] %}</td>
      <td>{% print fccampers[1] %}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="spacing"></div>

<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/smart-forms.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<!-- Contact Ends -->

{% endblock content %}
