{% extends 'layout.html' %}


{% block content %}
  <!-- SHOWCASE -->
  <section>
    <div class="col-lg-12 text-center mt-15">
        <h1 class="display-4 mt-5 pt-3 top-spacing" style="font-family:Montserrat;">
          Support us
        </h1>
    </div>
  </section>

  <!-- Contact -->
  <section id="merch" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4 style="font-family: Montserrat">All proceeds will go to the following:</h4>
          <ul style="font-family: Montserrat; font-size: 15px;">
            <li>90% Community Fund</li>
            <li>5% <a href="https://www.freecodecamp.org" target="_blank">Free Code Camp</a></li>
            <li>2.5% Mentors Fund</li>
            <li>2.5% Operating Expenses</li>
          </ul>
          <p style="font-family: Montserrat">Kindly be advised that any donation is not tax deductible</p>
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="9G868PLRQQTJJ" />
            <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>        
  </section>

{% endblock content %}