{% extends 'layout.html' %}


{% block content %}

    <section>
        <div class="primary-overlay">
            <div class="container">
                <div class="row">
                    <div class="col md-12">
                        <div class="text-center top-spacing thanks">Thank you for contacting us!</div>
                        <div class="text-center bottom-spacing touch">We'll be in touch soon.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}