{% extends 'layout.html' %} {% block content %}
<!-- SHOWCASE -->
<section id="showcase">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mt-5">
          <h1
            class="display-3 mt-5 pt-5 top-spacing"
            style="font-family: Montserrat"
          >
            Volunteering
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacing"></div>

<section id="home-icons" class="py-5 move-up-more bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <p class="service-text">
          "This has been the second time that Deadly Connections have engaged
          Code.Sydney on an IT project. The first was when I requested them to
          develop a landing page as an interim while waiting for the full
          website. Even though Code.Sydney are a volunteer group of developers,
          their dedication to the satisfactory completion of their projects is
          undertaken with the utmost professionalism. <br />
          Code.Sydney kept me updated every step of the way ensuring that every
          detail is followed and well-executed. Another key differentiator is
          their level of support after going live, they are always ready to
          answer our call when help is needed and a regular monthly report of
          website activities is being generated which can help us determine
          future improvements."
        </p>
        <p class="service-text">
          - Carly Stanley, CEO and Founder (<a
            href="httpS://www.deadlyconnections.org.au/"
            target="_blank"
            >DCCAJS</a
          >)
        </p>
      </div>

      <div class="col-md-4 mb-4 text-center">
        <p class="service-text">
          "Thank you, Code.Sydney for recommending Kevin Foong to work on the
          PropertyExtractor project. It has been a pleasure working with him
          throughout the journey. He is very responsive and always helpful from
          prototyping until final delivery. I learnt that he is one of the best
          mentors in Code.Sydney. <br />
          Above all, I am most grateful for Kevin’s initiative and guidance to
          successfully develop a working prototype that my stakeholders are
          happy to use hence allowing my project to proceed to the next stage.
          May Code.Sydney and Kevin keep up the good work!"
        </p>
        <p class="service-text">
          - Ling-Pei Lin, Volunteer worker for two Sydney-based NFPs
        </p>
      </div>

    </div>
  </div>
</section>

<body>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th>Project ID</th>
        <th>Last update</th>
        <th>Organisation</th>
        <th>Project Description</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>20191001</td>
        <td>2019 OCTOBER</td>
        <td><a href="https://www.deadlyconnections.org.au/" target="_blank">Deadly Connections Community and Justice Services Limited</a></td>
        <td>Interim Landing Page</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>20200301</td>
        <td>2020 MARCH</td>
        <td><a href="https://www.deadlyconnections.org.au/" target="_blank">Deadly Connections Community and Justice Services Limited</a></td>
        <td>Newly revamped website</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>20200501</td>
        <td>2020 MAY</td>
        <td><a href="http://www.propertyextractor.com.au/" target="_blank"></a>Via a volunteer worker of two Sydney-based NFPs helping those who are on the brink of homelessness</a></td>
        <td>Rental accomodation extractor app</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>20210101</td>
        <td>2021 JANUARY</td>
        <td><a href="https://www.deadlyconnections.org.au/" target="_blank">Deadly Connections Community and Justice Services Limited</a></td>
        <td>Maintenance of current website</td>
        <td>Ongoing</td>
      </tr>
      <tr>
        <td>20210102</td>
        <td>2021 JANUARY</td>
        <td><a href="https://www.deadlyconnections.org.au/" target="_blank">Deadly Connections Community and Justice Services Limited</a></td>
        <td>Modernise current website</td>
        <td>Proposed</td>
      </tr>
      <tr>
        <td>20210103</td>
        <td>2021 JANUARY</td>
        <td><a href="https://www.ims.org.au/" target="_blank">Illawarra Multicultural Services</a></td>
        <td>Community marketplace app</td>
        <td>Proposed</td>
      </tr>
      <tr>
        <td>20210104</td>
        <td>2021 JANUARY</td>
        <td><a href="https://www.ims.org.au/" target="_blank">Illawarra Multicultural Services</a></td>
        <td>New website for a local community group</td>
        <td>Proposed</td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Project ID</th>
      <th>Last update</th>
      <th>Organisation</th>
      <th>Project Description</th>
      <th>Status</th>
    </tr>
  </tfoot>
</table>
<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/smart-forms.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
  });
</script>

</body>
<!-- Opend Ends -->

{% endblock content %}
